/* SECTION */
.category-feature-area {
  padding: 60px 0;
  background: #f5f6f2;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* GRID */
.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

/* CARD BASE */
.single-feature-card.style-three {
  height: 350px;
  border-radius: 6px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  transition: 0.3s ease;
}

.single-feature-card.ssthree .btn-primary {
  background-color: rgba(98, 157, 35, 0.1);
  color: var(--color-primary);
}

.single-feature-card:hover {
  transform: translateY(-6px);
}

/* Individual Card Background + Image */
.single-feature-card.style-three.one {
  background-color: #eef1eb;
  background-image: url("../assets/images/category/05.jpg");
}

.single-feature-card.style-three.two {
  background-color: #f2e8da;
  background-image: url("../assets/images/category/06.jpg");
}

.single-feature-card.style-three.three {
  background-color: #e9ebe6;
  background-image: url("../assets/images/category/07.jpg");
}

/* CONTENT */
.content-area {
  max-width: 60%;
  z-index: 2;
}

/* Badge */
.discount-badge {
  background: #dfead1;
  color: #5fa135;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}

/* Title */
.title {
  font-size: 26px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 1.3;
  margin-bottom: 25px;
}

.single-feature-card .title span {
  font-weight: 400;
  color: #629D23;
}

/* Shop Button */
.shop-now-btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 16px;
}

/* Circle Plus */
.plus-icon {
  width: 34px;
  height: 34px;
  background: #5fa135;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .single-feature-card.style-three {
    height: 250px;
    padding: 15px;
    background-size: 50%;
  }

  .title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .discount-badge {
    padding: 4px 10px;
    font-size: 11px;
    margin-bottom: 10px;
  }

  .shop-now-btn {
    font-size: 14px;
  }

  .plus-icon {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .feature-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .single-feature-card.style-three {
    height: 250px;
    background-size: contain;
    background-position: right bottom;
  }
}

@media (max-width: 425px) {
  .feature-grid {
    grid-template-columns: 1fr;
  }

  .single-feature-card.style-three {
    height: 300px;
  }
}