.easyway-buying-area-wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Tablet / Portrait (768px Focus) */
@media (max-width: 900px) {
  .easyway-buying-area-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    padding: 30px 0;
  }

  .information .title {
    font-size: 18px;
  }
}

/* Mobile (425px Focus) */
@media (max-width: 425px) {
  .easyway-buying-area-wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: left;
    padding: 20px 0;
  }

  .single-easy-way-buying-area {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
}

.single-easy-way-buying-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.single-easy-way-buying-area .icon {
  height: 45px;
  width: 45px;
  border: 1px solid #629D23;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}

.information .title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.information p {
  color: #74787C;
  margin: 0;
  font-size: 14px;
}