/* Navbar */
.navbar {
  background: #5ca617;
  padding: 14px 0;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #fff;
  margin-right: 28px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.8;
}

.delivery {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.delivery p {
  color: #fff;
  font-weight: 500;
}

.delivery-icon {
color: #fff;
}